// Colors

$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);

//Gradient
$Soft-violet: #af67e9;
$Soft-blue: #6565e7;


//Color Text
$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers

$Light-grayish-blue: hsl(240, 5%, 91%);

//Font
$font: 'Kumbh Sans', sans-serif;
$font-size: 12px;
